<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" herf="show.css">
    <link rel="shortcut icon" hrer="https://ladowebdev.github.io/images/logo.png" type="image/x-icon">

    <title>Template | Lado</title>
</head>

<body>

    <nav>
        <div class="nav-logo">
            <a href="#">
                <img src="/images/logo.png">
            </a>
        </div>

        <ul class="nav-links">
            <li class="link"><a href="/index.html">Home</a></li>
            <li id="link1" class="link"><a href="#">Features</a></li>
            <li id="link2" class="link"><a href="#temp">Template</a></li>
            <li id="link3" class="link"><a href="#">About</a></li>
        </ul>
       
    </nav>
    <section class="container">
<h2 class="header"> Templates</h2>
</section>
    <section>
        <div id="temp" class="card">
          <img src="https://raw.githubusercontent.com/ladowebdev/ladowebdev.github.io/main/images/image.png" alt="image" />
    
          <div class="card-content">
            <p>Inance Web Template</p>
            <p>The "Inance" template is a sleek, responsive CSS design tailored for financial or business websites, featuring a modern layout with easy customization options.</p>
          </div>
        </div>
    
        <div class="card">
          <img src="https://raw.githubusercontent.com/ladowebdev/ladowebdev.github.io/main/images/spin.gif" alt="image" />
    
          <div class="card-content">
            <p>Coming soon</p>
            <p></p>
          </div>
        </div>
    
        <div class="card">
          <img src="https://raw.githubusercontent.com/ladowebdev/ladowebdev.github.io/main/images/spin.gif" alt="image" />
    
          <div class="card-content">
            <p>Coming Soon</p>
            <p></p>
          </div>
        </div>
      </section>
 
       
        <div class="features">
           

    <footer class="container">
        <span class="blur"></span>
        <span class="blur"></span>
        <div class="column">
            <div class="logo">
                <img src="/images/logo.png">
            </div>
            <p>
                We Create Things In Your Dreams 
            </p>
            <div class="socials">
                <a href="mailto:ladowebdev@gmail.com"><i class="material-symbols--mail-outline"></i></a>
                <a href="https://www.instagram.com/lado.webdevs/"><i class="ri-instagram-line"></i></a>
                <a href="/404/"><i class="ri-twitter-line"></i></a>
            </div>
        </div>
        <div class="column">
            <h4>Company</h4>
            <a href="#">Business</a>
            <a href="#">Partnership</a>
            <a href="#">Network</a>
        </div>
        <div class="column">
            <h4>About Us</h4>
            <a href="showcase.html">Blogs</a>
            <a href="/404/">Channels</a>
            <a href="/404/">Sponsors</a>
        </div>
        <div class="column">
            <h4>Contact</h4>
            <a href="mailto:ladowebdev@gmail.com">Contact Us</a>
            <a href="/404/">Privicy Policy</a>
            <a href="/404/">Terms & Conditions</a>
        </div>
    </footer>

    <div class="copyright">
       
    </div>


    <script src="script.js"></script>
</body>

</html>
